<launch>
  <!-- Adding more stuffs for safety-->
  <include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/safety_controller.launch.xml"/>

  <!-- Start the core -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include> 
  
  <!-- 3D sensor -->
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- Gmapping -->
  <!-- <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/$(arg 3d_sensor)_gmapping.launch.xml"/>
  <include file="$(arg custom_gmapping_launch_file)"/> -->
  <arg name="scan_topic"  default="scan" />
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <!-- <param name="map_update_interval" value="0.1"/> -->
    <param name="map_update_interval" value="0.05"/>
    <param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="8.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="minimumScore" value="10000"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.1"/>
    <param name="angularUpdate" value="0.262"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <!-- <param name="particles" value="2"/> -->
    <param name="particles" value="7"/> 
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <!--- turtlebot_navigation/laser/move_base_turtlebot_laser.launch" --> 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find argus_move)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find argus_move)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find argus_move)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find argus_move)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find argus_move)/config/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find argus_move)/config/move_base_params.yaml" command="load" />

      <!-- Disable rotation in place for clearing behavior, using reverse instead-->
      <param name="/clearing_rotation_allowed" value="false" />
      
      <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
  </node>

 <!-- http://wiki.ros.org/turtlebot_navigation/Tutorials/Build%20a%20map%20with%20SLAM
  -->

    <!-- Save the map
    rosrun map_server map_saver -f map_name 
    rosrun map_server map_saver -f ~/Desktop/video_map
    -->
    
</launch>
